services:
  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: hackathon_tic
      POSTGRES_PASSWORD: hackathon2137689712
      POSTGRES_DB: hackathon
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    image: hackathon:latest
    container_name: backend
    restart: always
    ports:
      - "8080:8080"
volumes:
  pg_data:

